<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ecolens</title>
  <link rel="shortcut icon" type="image/png" href="../../../images/fabicon.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/stylePaper.css">
    
</head>
<body class="bg">
    
    <div class="my-row">
          <div class="column_2_navbar">
              <label>
                 <input type="checkbox">
                 <span class="menu">
                 <span class="hamburger"></span>
                 </span>
                 <ul>
                     <li>
                       <a href="../../../index.html">Home</a>
                    </li>
                     <li>
                       <a href="../restaurants.html">Restaurants</a>
                    </li>
                     <li>
                       <a href="../tool.html">Tool</a>
                    </li>
                    <li>
                       <a href="../support.html">Support</a>
                    </li>
                    
                    <li>
                       <a href="../meet_the_team.html">Meet the team</a>
                    </li>
                    
                    <li>
                       <a href="../contact.html">Contact</a>
                    </li>
                 </ul>
              </label>
              
              <div class="logo">
                  <a href="../../../index.html"><img src="../../../images/EcoLens_Logo.png"/></a>
              </div>
          </div>
    </div>

<div class="distancer"></div>
<div class="distancer"></div>
<div class="distancer"></div>
    
<center class="title"> SUPPORT </center>
    
<!--<div class="grid-container">
  <div style="grid-area: main; margin: auto;">
      <div>-->
        
        <div class="my-row">
          <div class="column_1">
            <div class="subtitle">EPFL Changemarkers</div>
            <img src="../../../images/circle_sample_green.png">
            <p> 
                In the 2020 fall semester, EcoLens cofounder Alessandra Capurro took part to the <a href="https://www.epfl.ch/innovation/startup/students/epfl-changemakers/
                    ">EPFL Changemaker program</a>. </p>
 
                <p>During 12 weeks, 20 EPFL students with great ideas were attending lessons and workshops to improve their entrepreneurship, sustainable and leadership skills. 
                At the end of the program, Alessandra was proud to win two awards for the Best pitch and Best sustainable project for EcoLens.</p>

                <p>Even to this day, the Changemaker program still provides us with valuable advice, contacts  and opportunities.

             </p>
          </div>
        </div>

      <!--</div>
  </div>
</div>-->

<div class="distancer"></div>

<div class="footer">
  <div>
    <a>© 2021 Ecolens</a>
  </div>
</div>

</body>
</html>