<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ecolens</title>
  <link rel="shortcut icon" type="image/png" href="../../images/fabicon.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/stylePaper.css">
    
</head>
<body class="bg">
    
    <div class="my-row">
          <div class="column_2_navbar">
             <label>
                 <input type="checkbox">
                 <span class="menu">
                 <span class="hamburger"></span>
                 </span>
                 <ul>
                     <li>
                       <a href="../../index.html">Home</a>
                    </li>
                     <li>
                       <a href="restaurants.html">Restaurants</a>
                    </li>
                     <li>
                       <a href="tool.html">Tool</a>
                    </li>
                    <li>
                       <a href="support.html">Support</a>
                    </li>
                    
                    <li>
                       <a href="meet_the_team.html">Meet the team</a>
                    </li>
                    
                    <li>
                       <a href="contact.html">Contact</a>
                    </li>
                 </ul>
              </label>
              
              <div class="logo">
                  <a href="../../index.html"><img src="../../images/EcoLens_Logo.png"/></a>
              </div>
          </div>
    </div>

<div class="distancer"></div>
<div class="distancer"></div>
    
<!--<div class="grid-container">
  <div style="grid-area: main; margin: auto;">-->
      <div>
          
        <div class="distancer"></div>

        <center class="title">MEET THE TEAM</center> 

        <div class="my-row">
          <div class="column_5_side">
          </div>

          <div class="column_5">
            <img class="avatar" src="../../images/team/Alessandra.jpeg">
            <center><p class="name"> Alessandra Capurro  </p></center>
            <center><p> Co-founder </p></center>
          </div>
          
          <div class="column_5">
            <img class="avatar" src="../../images/team/Jeanne.jpg">
            <center><p class="name"> Jeanne Fernandez  </p></center>
            <center><p> Co-founder </p></center>
          </div>
          
          <div class="column_5_side">
          </div>
        </div>

        <div class="my-row">
          <div class="column_5_side">
          </div>
            
          <div class="column_5">
            <img class="avatar" src="../../images/team/Lorenzo.jpeg">
            <center><p class="name"> Lorenzo Pisanò </p></center>
            <center><p> Technical Team </p></center>
          </div>

          <div class="column_5">
            <img class="avatar" src="../../images/team/Federico.jpg">
            <center><p class="name"> Federico Tavi </p></center>
            <center><p> Technical Team </p></center>
          </div>
          
          <div class="column_5">
            <img class="avatar" src="../../images/team/Giorgia.jpg">
            <center><p class="name"> Giorgia Castelli </p></center>
            <center><p> Technical Team </p></center>
          </div>
          
          

          <div class="column_5_side">
          </div>
        </div>

        <div class="my-row">
          <div class="column_5_side">
          </div>
            
          <div class="column_5">
            <img class="avatar" src="../../images/team/francesca.jpg">
            <center><p class="name"> Francesca Predieri </p></center>
            <center><p> Design Team  </p></center>
          </div>

          <div class="column_5">
            <img class="avatar" src="../../images/team/Clement.jpg">
            <center><p class="name"> Clément Lecoeur </p></center>
            <center><p> Design Team  </p></center>
            </div>

          <div class="column_5_side">
          </div>
        </div>
          <div class="my-row">
          <div class="column_5">
            <img class="avatar" src="../../images/team/Matthieu.jpg">
            <center><p class="name"> Matthieu Souttre </p></center>
            <center><p> Sustainability Expert </p></center>
          </div>
          </div>

      </div>
  <!--</div>
</div>-->
    
<div class="distancer"></div>

<div class="footer">
  <div>
    <a>© 2021 Ecolens</a>
  </div>
</div>

</body>
</html>