<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ecolens</title>
  <link rel="shortcut icon" type="image/png" href="../../images/fabicon.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/stylePaper.css">
    
</head>
<body class="bg">
    
    <div class="my-row">
          <div class="column_2_navbar">
              <label>
                 <input type="checkbox">
                 <span class="menu">
                 <span class="hamburger"></span>
                 </span>
                 <ul>
                    <li>
                       <a href="support.html">Support</a>
                    </li>
                    <li>
                       <a href="#">Resturants</a>
                    </li>
                    <li>
                       <a href="#">Meet the team</a>
                    </li>
                    <li>
                       <a href="#">MSI TOOL</a>
                    </li>
                    <li>
                       <a href="#">Contacts</a>
                    </li>
                 </ul>
              </label>
              
              <div class="logo">
                  <img src="../../images/EcoLens_Logo.png"/>
              </div>
          </div>
    </div>

<div class="distancer"></div>
<div class="distancer"></div>
    
<!--<div class="grid-container">
  <div style="grid-area: main; margin: auto;">-->
      <div>
          
        <div class="distancer"></div>

        <center class="title">MEET THE TEAM</center> 

        <div class="my-row">
          <div class="column_5_side">
          </div>

          <div class="column_5">
            <img src="../../images/round-score.png">
            <center><p class="name"> Name </p></center>
            <center><p> role </p></center>
          </div>
          
          <div class="column_5">
            <img src="../../images/round-score.png">
            <center><p class="name"> Name </p></center>
            <center><p> role </p></center>
          </div>
          
          <div class="column_5">
            <img src="../../images/round-score.png">
            <center><p class="name"> Name </p></center>
            <center><p> role </p></center>
          </div>

          <div class="column_5_side">
          </div>
        </div>

        <div class="my-row">
          <div class="column_5_side">
          </div>

          <div class="column_5">
            <img src="../../images/round-score.png">
            <center><p class="name"> Name </p></center>
            <center><p> role </p></center>
          </div>
          
          <div class="column_5">
            <img src="../../images/round-score.png">
            <center><p class="name"> Name </p></center>
            <center><p> role </p></center>
          </div>
          
          <div class="column_5">
            <img src="../../images/round-score.png">
            <center><p class="name"> Name </p></center>
            <center><p> role </p></center>
          </div>

          <div class="column_5_side">
          </div>
        </div>

        <div class="my-row">
          <div class="column_5_side">
          </div>

          <div class="column_5">
            <img src="../../images/round-score.png">
            <center><p class="name"> Name </p></center>
            <center><p> role </p></center>
          </div>
          
          <div class="column_5">
            <img src="../../images/round-score.png">
            <center><p class="name"> Name </p></center>
            <center><p> role </p></center>
          </div>
          
          <div class="column_5">
            <img src="../../images/round-score.png">
            <center><p class="name"> Name </p></center>
            <center><p> role </p></center>
          </div>

          <div class="column_5_side">
          </div>
        </div>

      </div>
  <!--</div>
</div>-->
    
<div class="distancer"></div>

<div class="footer">
  <div>
    <a>© 2021 Ecolens</a>
  </div>
</div>

</body>
</html>