<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ecolens</title>
  <link rel="shortcut icon" type="image/png" href="../../images/fabicon.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/stylePaper.css">
    
</head>
<body class="bg">
    
    <div class="my-row">
          <div class="column_2_navbar">
              <label>
                 <input type="checkbox">
                 <span class="menu">
                 <span class="hamburger"></span>
                 </span>
                 <ul>
                    <li>
                       <a href="support.html">Support</a>
                    </li>
                    <li>
                       <a href="restaurants.html">Resturants</a>
                    </li>
                    <li>
                       <a href="meet_the_team.html">Meet the team</a>
                    </li>
                    <li>
                       <a href="tool.html">Tool</a>
                    </li>
                    <li>
                       <a href="contacts.html">Contacts</a>
                    </li>
                 </ul>
              </label>
              
              <div class="logo">
                  <a href="../../index.html"><img src="../../images/EcoLens_Logo.png"/></a>
              </div>
          </div>
    </div>

    <div class="distancer"></div>
    <div class="distancer"></div>

    <div>
        <div class="distancer"></div>

        <center class="title">RESTAURANT</center>
        <center class="subtitle">VEGETARIAN PIZZA</center>
        
        <div class="my-row">
          <div class="column_1">
            <img src="../../images/score.png">
          </div>
        </div>
        
        <div class="my-row">
            <div class="column_3">
                <b>SUSTAINABILITY</b>
            </div>
            <div class="column_3"> <b>5</b></div>
            <div class="column_4"> </div>
            <div class="column_3">
                <b>HEALTH</b> 
            </div>
            <div class="column_3"> <b>4</b></div>
        </div>
         <div class="my-row">
            <div class="column_3">
                <p class="textarea">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet euismod sapien, in feugiat mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipisc
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut  </p>
            </div>
            <div class="column_4"> </div>
            <div class="column_3">
            <p class="textarea">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet euismod sapien, in feugiat mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipisc
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut  </p>
            </div>
        </div>
        <div class="distancer"></div>
        <div class="distancer"></div>
    </div>
    
    <div class="my-row">
        <div class="column_2">
            <center class="title">Comparison of the relative impact of 1KG of Vegetarian Pizza by category</center>
            <img style="width: 100%" src="../../images/pizza.jpg">
        </div>
        
        <div class="column_2">
            <center class="title">Contribution of each ingredient to climate change</center>
            <img style="width: 100%" src="../../images/climate-change.jpg">
        </div>
        
    </div>
    
    <div class="footer">
      <div>
        <a>© 2021 Ecolens</a>
      </div>
    </div>

</body>
</html>