<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ecolens</title>
  <link rel="shortcut icon" type="image/png" href="../../images/fabicon.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/stylePaper.css">
    
</head>
<body class="bg">
    
    <div class="my-row">
          <div class="column_2_navbar">
              <label>
                 <input type="checkbox">
                 <span class="menu">
                 <span class="hamburger"></span>
                 </span>
                 <ul>
                     <li>
                       <a href="../../index.html">Home</a>
                    </li>
                     <li>
                       <a href="restaurants.html">Restaurants</a>
                    </li>
                     <li>
                       <a href="tool.html">Tool</a>
                    </li>
                    <li>
                       <a href="support.html">Support</a>
                    </li>
                    
                    <li>
                       <a href="meet_the_team.html">Meet the team</a>
                    </li>
                    
                    <li>
                       <a href="contact.html">Contact</a>
                    </li>
                 </ul>
              </label>
              
              <div class="logo">
                  <a href="../../index.html"><img src="../../images/EcoLens_Logo.png"/></a>
              </div>
          </div>
    </div>

    <div class="distancer"></div>
    <div class="distancer"></div>

    <div>
        <div class="distancer"></div>

        <center class="title">RESTAURANT A </center>
            <center class="subtitle">PASTA CARBONARA</center>
        <center class="subtitle">Ingredients: <p>pasta, eggs, bacon, parmesan, cheese.</p> </center>
        
        <div class="my-row">
          <div class="column_1">
            <img src="../../images/Scores/4-4.png">
          </div>
        </div>
        
        <div class="my-row">
            <div class="column_3">
                <b>SUSTAINABILITY</b>
            </div>
            <div class="column_3"> <b>4</b></div>
            <div class="column_4"> </div>
            <div class="column_3">
                <b>HEALTH</b> 
            </div>
            <div class="column_3"> <b>4</b></div>
        </div>
        
         <div class="my-row">
            <div class="column_3">
                <p class="textarea"></p>
            </div>
            <div class="column_4"> </div>
            <div class="column_3">
            <p class="textarea"></p>
            </div>
            <div class="distancer"></div>
        </div>
    </div>
    


    <div class="my-row">
        <div class="column_2">
            <center class="title">Comparison of the relative impact of 1KG by category</center>
            <img class="graph" style="width: 70%" src="../../images/Graphs/pasta.png">
            <div class="distancer"></div>
        </div>        
    </div>
    <div class="my-row">
        <div class="column_2">
            
        </div>
    </div>
    
    <div class="my-row">
        <div class="column_2">
            <a href="menu.html">
                <button class="button-learn-more" href="menu.html" type="button">Back to menu</button> 
            </a> 
        </div>
    </div>
    
    <div class="footer">
      <div>
        <a>© 2021 Ecolens</a>
      </div>
    </div>