<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ecolens</title>
  <link rel="shortcut icon" type="image/png" href="../../images/fabicon.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/stylePaper.css">
    
</head>
<body class="bg">
    
    <div class="my-row">
          <div class="column_2_navbar">
              <label>
                 <input type="checkbox">
                 <span class="menu">
                 <span class="hamburger"></span>
                 </span>
                 <ul>
                     <li>
                       <a href="../../index.html">Home</a>
                    </li>
                     <li>
                       <a href="restaurants.html">Restaurants</a>
                    </li>
                     <li>
                       <a href="tool.html">Tool</a>
                    </li>
                    <li>
                       <a href="support.html">Support</a>
                    </li>
                    
                    <li>
                       <a href="meet_the_team.html">Meet the team</a>
                    </li>
                    
                    <li>
                       <a href="contact.html">Contact</a>
                    </li>
                 </ul>
              </label>
              
              <div class="logo">
                  <a href="../../index.html"><img src="../../images/EcoLens_Logo.png"/></a>
              </div>
          </div>
    </div>

<div class="distancer"></div>
<div class="distancer"></div>
    
<center class="title"> TOOL </center>
    
    <div class="my-row" style="margin: 0 30% 0 30%">
        <p> Our tool is based on the <a href="http://agribalyse.ademe.fr">Agribalyse database</a>, which use the Product Environmental Footprint method (<a href="https://ec.europa.eu/environment/eussd/pdf/footprint/PEF%20methodology%20final%20draft.pdf">pdf</a>) </p>
    </div>
    
    <div class="distancer"></div>
    
        <div class="my-row">
          <div class="column_3">
            <img src="../../images/circle_sample_orange.png">
          </div>
          <div class="column_3">
              <img src="../../images/circle_sample_green.png">
          </div>
          <div class="column_3">
              <img src="../../images/circle_sample_orange.png">
          </div>
        </div>

<div class="distancer"></div>

<div class="footer">
  <div>
    <a>© 2021 Ecolens</a>
  </div>
</div>

</body>
</html>